@model EinzelhandelCoreMVC.ModelView.BonDetail

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Bon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                Wenn die Rechnung ein Kauf ist
                Aktivieren Sie das Kontrollkästchen
                <div class="checkbox">
                    <label>
                        <input asp-for="Art" /> @Html.DisplayNameFor(model => model.Art)
                    </label>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => Model.KundeID, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.DropDownListFor(x => Model.KundeID, new SelectList(Model.Kundes, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "KundeID" })
                @Html.ValidationMessageFor(x => x.KundeID, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
